@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

.first-section {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
  padding: 20px;
}

.header-links {
  display: flex;
  gap: 20px;
  font-size: 18px;
}

.header-left {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.hero {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;
  gap: 100px;
}

.hero-left {
  display: flex;
  gap: 8px;
  width: 400px;
  height: 250px;
  flex-direction: column;
}

.hero-right {
  display: flex;
  color: #f9faf8;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 500px;
  background-color: grey;
}

.hero-main {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-sec {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-button {
  background-color: #3882f6;
  border-radius: 5px;
  border-style: none;
  color: #f9faf8;
  font-weight: bold;
  padding: 8px 24px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.second-section {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.information-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.card-text {
  font-size: 18px;
  color: grey;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.card-image {
  height: 150px;
  width: 150px;
  border: 3px #3882f6 solid;
  border-radius: 10px;
}

.card-text {
  height: 100px;
  width: 200px;
  text-align: center;
}

.information-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.third-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
}

.quote {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.quote-text {
  width: 800px;
  font-size: 36px;
  opacity: 0.5;
  font-style: italic;
  color: #1f2937;
}

.quote-author {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 18px;
}

.fourth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.call-to-action {
  display: flex;
  gap: 200px;
  background-color: #3882f6;
  padding: 50px 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 5px;
}

.call-to-action-text {
  display: flex;
  flex-direction: column;
  color: #f9faf8;
}

.call-to-action-main-text {
  font-weight: bold;
  font-size: 18px;
}

.call-button-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.call-to-action-button {
  background-color: #3882f6;
  border-radius: 5px;
  border-style: solid;
  border-color: #f9faf8;
  color: #f9faf8;
  font-weight: bold;
  padding: 8px 32px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 20px 60px;
}
